:root {
  --white: #ffffff;
  --gray: #dbdbdb;

  --themegray: #f8f8f9;
  --themedark: #2a324b;
  --themeblue: #0052cc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}
input,
select,
textarea,
button {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-inter);
}
main {
  float: left;
  width: 100%;
}
